@model LibraryStore.App.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Detalhe do produto - " + Model.Name;
}

<h4 style="padding-top:50px">@ViewData["Title"]</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <img src="~/images/@Model.Image" alt="@Model.Image" style="width:300px; height:428px" />
    </div>
    <div class="col-md-6">
        <dl>
             <dt>
                @Html.DisplayNameFor(model => model.ProviderId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Provider.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Model.Price.ToString("C")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RegisterDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RegisterDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>
        </dl>
         <div>
            <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> 
            <a class="btn btn-outline-secondary" href="javascript:window.history.back()">Voltar</a>
        </div>
    </div>
</div>

