@model IEnumerable<LibraryStore.App.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center mb-5">
    <h4 class="mb-2">Novo Produto</h4>
    <a class="btn btn-primary" asp-action="Create"><i class="fa fa-plus"></i></a>
</div>

<h4>Lista de Produtos</h4>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/images/@item.Image" alt="@item.Image" style="width: 70px; height: 100px" /> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.Name)
            </td>
            <td>
                @(item.Price.ToString("C"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td class="text-right">
                <a class="btn btn-info" title="Detalhes" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-search"></i></a> 
                <a class="btn btn-warning" title="Editar" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a> 
                <a class="btn btn-outline-danger" title="Remover" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
