@using LibraryStore.App.Extensions
@model IEnumerable<LibraryStore.App.ViewModels.ProviderViewModel>

@{
    ViewData["Title"] = "Lista de Fornecedores";
}

<div class="text-center mb-5">
    <h4 class="mb-2">Novo Fornecedor</h4>
    <a class="btn btn-primary" asp-action="Create"><i class="fa fa-plus"></i></a>
</div>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @this.FormatDocument(item.TypeProvider, item.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td class="text-right">
                <a class="btn btn-info" title="Detalhes" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-search"></i></a> 
                <a class="btn btn-warning" title="Editar" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a> 
                <a class="btn btn-outline-danger" title="Remover" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
